<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866308898868-rdhfenb7jk3df1kjn8p8uib0cuudaamv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866308898868-rdhfenb7jk3df1kjn8p8uib0cuudaamv</string>
	<key>API_KEY</key>
	<string>AIzaSyCKLlipxzmpuGJpoc0qPd1oOGjeCft5btA</string>
	<key>GCM_SENDER_ID</key>
	<string>866308898868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>attendance-ios</string>
	<key>PROJECT_ID</key>
	<string>attendance-bb67e</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-bb67e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866308898868:ios:9799cd18a6fbd415a18a61</string>
</dict>
</plist>